.contact{
    width:980px;
    height:680px;
    margin: 0 auto;
    display:block;
    font-family: GillSans;
    margin-top: 40px;

    .contactheadline {
        display:block;
        font-size: 25px;
    }

    .contactborderbox{
        width:980px;
        display:block;

        .contactborder{
            border-bottom: 3px solid black;
            width:229px; 
        }

    }

    .inputs{
        display: block;
        margin-top: 40px;
        
        .column1{
            color:#707070;
            width: 529px;

            .yourname{
                height:60px;
                padding-left: 15px;
                padding-top: 20px;
                margin-top: 20px;
                background-color: #F5F5F5;
            }

            .emailaddress{
                height:60px;
                padding-left: 15px;
                padding-top: 20px;
                margin-top: 20px;
                background-color: #F5F5F5;
            }

            .company{
                height:60px;
                padding-left: 15px;
                padding-top: 20px;
                margin-top: 20px;
                background-color: #F5F5F5;
            }

            .message{
                width: 529px;
                height:199px;
                padding-left: 15px;
                padding-top: 20px;
                margin-top: 20px;
                background-color: #F5F5F5;
            }

        }

        .column2{

            .map{
                float:right;
                margin-top: -442px;
                height:442px;
                width:400px;
                background-image: url(../images/map.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

        }

    }

    .submit{
        display:block;
        background-color: #EE4367;
        padding-top: 20px;
        padding-left: 15px;
        width: 167px;
        height:60px;
        text-align: center;
        left:565px;
        top: 50px;
        color:white;
        font-size:16px;
        margin-top: 20px;
    }
}