.gallery5 {
    width: 981px;
    height:600px;
    display: block;
    margin: 0 auto;

    .gal5image1 {
        display:flex;
        width: 981px;
        height:401px;
        margin-top: 30px;
        background-image: linear-gradient(to bottom, rgba(59,206,171,.5), rgba(59,206,171,.5)),url(../images/gallery/5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .gal5text1 {
            position: absolute;
            margin-top:117px;
            flex-direction: row;
            font-size: 300px;
            color: #3BCEAB;
            position: absolute;
            text-shadow: 1px 1px 5px black;
        }
        .gal5text2 {
            position: absolute;
            flex-direction:row;
            font-size: 140px;
            color: #3BCEAB;
            text-shadow: 1px 1px 5px black;
            margin-top:268px;
            margin-left: 240px;
        }
    }
    .gal5text3{
        width:980px;
        height:133px;
        display: flex;
        .leftcol {
            margin: 30px;
            flex-direction: row;
            width:491px;
            height:133px;
        }
        .rightcol {
            margin: 30px;
            flex-direction: row;
            width:451px;
            height:133px;
        }
    }
}