.gallery4 {
  width: 981px;
  height: 600px;
  display: block;
  margin: 0 auto;
}
.gallery4 .gal4image1 {
  display: flex;
  width: 981px;
  height: 401px;
  margin-top: 30px;
  background-image: linear-gradient(to bottom, rgba(84, 13, 110, 0.5), rgba(84, 13, 110, 0.5)), url(../images/gallery/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery4 .gal4image1 .gal4text1 {
  position: absolute;
  margin-top: 117px;
  flex-direction: row;
  font-size: 300px;
  color: #540D6E;
  position: absolute;
  text-shadow: 1px 1px 5px black;
}
.gallery4 .gal4image1 .gal4text2 {
  position: absolute;
  flex-direction: row;
  font-size: 140px;
  color: #540D6E;
  text-shadow: 1px 1px 5px black;
  margin-top: 265px;
  margin-left: 240px;
}
.gallery4 .gal4text3 {
  width: 980px;
  height: 133px;
  display: flex;
}
.gallery4 .gal4text3 .leftcol {
  margin: 30px;
  flex-direction: row;
  width: 491px;
  height: 133px;
}
.gallery4 .gal4text3 .rightcol {
  margin: 30px;
  flex-direction: row;
  width: 451px;
  height: 133px;
}