.hero {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    padding-top: 20px;
    display: block;
    font-family:GillSans;

       nav {
        margin: 0 auto;
        width: 980px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        //padding-top: 30px;
        font-size: 20px;
        font-family: Arial;
       
            .logo {
                //background-color: red;
                width: 92px;
                height: 42px;
                align-self: center;
            }
            .links {
                width: 400px;
                height: 42px;
                font-family: GillSans;
                align-self: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                div {
                    &.pipe {
                        color: $site-pink;
                        font-size: 20px;
                }
                a {
                    font-family: GillSans;
                    font-size: 15px;
                    text-decoration: none;
                    color: $white;
                    margin: auto;
                    text-transform: lowercase;
                }
            }
    
            
        }

    }

    .bannertext{
        width:1280px;
        //height: 80px;
        text-align: center;
        font-size: 50px;
        color: white;
        padding-top: 80px;
        display:block;
        text-align:center;
        font-family:serif;
    }
    .smallbanner {
        text-align: center;
        color:#EE4367;
        margin-top: 10px;
    }
    .lorem {
        margin-top: 30px;
         text-align: center;
         color: white;
    }
    .sitebutton {
        @include center(981px, 20px auto 0 auto);
        margin-top: 30px;
        text-align: center;
        margin: auto;
    }
    .readmore {
        margin-top: 30px;
         background-color: $site-pink;
         padding: 15px 30px;
         //border-radius: 20px;
         width: 150px;
         //position:relative;
         text-align: center;
         left:565px;
         top: 50px;
         color:white;
         margin: 0 auto;
     }

}
nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    //padding-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: $white solid 3px;
}
.logo {
    //background-color: red;
    width: 92px;
    height: 42px;
    align-self: center;
}
//nav a {
    //text-decoration: none;
    //color:#fff;
//}

.links {
    width: 400px;
    height: 42px;
    font-family: GillSans;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div {
    &.pipe {
        color: $site-pink;
        font-size: 20px;
    }
    //margin: auto;
    a {
        font-family: "GillSans";
        font-size: 15px;
        text-decoration: none;
        color: $white;
        margin: auto;
        text-transform: lowercase;
    }
}

.hero-content{
    height:350px;
    /*background-color: rgba(100,100,100,.5);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    color: #fff;

}

.hero-content .page-name {
    text-transform: capitalize;
}

.home-hero-image {
    background-image: linear-gradient(to bottom, rgba(255,255,0,.5), rgba(255,255,0,.5)), url(../images/hero/home-hero.jpg);
}

.about-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/about-hero.jpg);
}

.specialoffers-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/specialoffers-hero.jpg);
}

.blog-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/tours-hero.jpg);
}

.products-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/blog-hero.jpg);
}

.contact-hero-image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/contact-hero.jpg);
}

@media only screen and (max-width: 800px){
    .hero{
        max-width: 100vw;

        nav{
            max-width: 80vw;

            .logo {
                //background-color: red;
                width: 92px;
                height: 42px;
                align-self: center;
            }
            .links {
                max-width: 80vw;
                height: 42px;
                font-family: GillSans;
                align-self: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                div {
                    &.pipe {
                        color: $site-pink;
                        font-size: 20px;
                }
                a {
                    font-family: GillSans;
                    font-size: 15px;
                    text-decoration: none;
                    color: $white;
                    margin: auto;
                    text-transform: lowercase;
                }
            }
        }
        .bannertext{
            max-width:100vw;
            margin: 0 auto;
            height: 80px;
            text-align: center;
            font-size: 50px;
            color: white;
            padding-top: 80px;
            display:flex;
            font-family:serif;
        }
        .smallbanner {
            text-align: center;
            color:#EE4367;
            margin-top: 10px;
        }
        .lorem {
            margin-top: 30px;
            text-align: center;
            color: white;
        }
    }
}
}