.homequote{
    width:780px;
    height:180px;
    display:block;
    color:#FFD140;
    font-size:15px;
    font-family: GillSans;
    margin: 77px auto 0pc auto;


    .name {
        color: #EE4367;
        font-family: PT Serif;
        font-size:15px;
    }
    .position{
        margin-top: 5px;
        font-size:10px;
        color:#A8A8A8;
    }
}
.upcomingevents {
    background-color: #540D6E;
    font-family:GillSans;
    display:block;
    width:1280px;
    height: 91px;
    margin: 0 auto;
    color: #FFF;
    border-bottom: 3px solid white;

    .upcomingheadline{
        padding-top: 45px;
        padding-left: 15px;
        font-size:25px;
        width:267px;
        height:87px;
        background-color: #540D6E;
    }
    .headlineborderbox{
        height:5px;
        width:1280px;
        background-color: #540D6E;
        .headlineborder{
            border-bottom: 3px solid white;
            width:407px;
            height:4px;
            margin-left: 15px;
            background-color: #540D6E;
        }
    }
}
.allupcomingevents{
    display:flex;
    margin: 0 auto;
    width:1280px;
    height: 229px;
    padding-bottom: 25px;
    

    .upcomingevents1{
        padding-left: 15px;
        padding-top: 25px;
        width:256px;
        height: 229px;
        display:flex;
        flex-direction: row;
        background-color: #540D6E;
        

        .dateblock1{
            width:80px;
            height:119px;
            margin-right: 5px;
            margin-bottom: 59px;
    
            .date1{
            width:60px;
            height:60px;
            background-color: #EE4367;
            color:white;
            text-align:center;
            padding-top: 8px;
    
                .line1{
                    font-size:22px;
                
                }
                .line2{
                    font-size:12px;
                }
            }
    
        }
        .text1{
            font-size:15px;
            color: #FFF;
            width: 158px;
            height:119px;
            
            .blurb1{
                color: #FFF;
                font-size:15px;
            }
            .blurb2{
                font-size: 13px;
                color:#EE4367;
            }
        }
        
    }
    .upcomingevents2{
        padding-top: 25px;
        width:256px;
        height: 229px;
        display:flex;
        flex-direction: row;
        background-color: #540D6E;

        .dateblock2{
            width:80px;
            height:119px;
            margin-right: 5px;
            margin-bottom: 59px;

            .date2{
                width:60px;
                height:60px;
                background-color: #EE4367;
                color:white;
                text-align:center;
                padding-top: 8px;
                    
                .line3{
                    font-size:22px;
                    width: 60px;
                }
                .line4{
                    font-size:12px;  
                }
            }
        }  
        .text2{
            font-size:15px;
            color: #FFF;
            width: 158px;
            height:119px;

            .blurb3{
                color: #FFF;
                font-size:15px;
            }
            .blurb4{
                font-size: 13px;
            color:#EE4367;
            }

        }
    }
    .upcomingevents3{
        padding-top: 25px;
        width:256px;
        height: 229px;
        display:flex;
        background-color: #540D6E;

        .dateblock3{
            width:80px;
            height:119px;
            margin-right: 5px;
            margin-bottom: 59px;

            .date3{
                width:60px;
                height:60px;
                background-color: #EE4367;
                color:white;
                text-align:center;
                padding-top: 8px;

                .line5{
                    font-size:22px;
                }
                .line6{
                    font-size:12px;  
                }
            }

        }
        .text3{
            font-size:15px;
            color: #FFF;
            width: 158px;
            height:119px;
            .blurb5{
                color: #FFF;
                font-size:15px;
            }
            .blurb6{
                font-size: 13px;
            color:#EE4367;
            }
        }
    }
    .upcomingevents4{
        padding-top: 25px;
        width:256px;
        height: 229px;
        display:flex;
        background-color: #540D6E;

        .dateblock4{
            width:80px;
            height:119px;
            margin-right: 5px;
            margin-bottom: 59px;

            .date4{
                width:60px;
                height:60px;
                background-color: #EE4367;
                color:white;
                text-align:center;
                padding-top: 8px;

                .line7{
                    font-size:22px;
                }
                .line8{
                    font-size:12px;  
                }
            }

        }
        .text4{
            font-size:15px;
            color: #FFF;
            width: 158px;
            height:119px;
            .blurb7{
                color: #FFF;
                font-size:15px;
            }
            .blurb8{
                font-size: 13px;
                color:#EE4367;
            }
        }
    }
    .upcomingevents5{
        padding-top: 25px;
        width:256px;
        height: 229px;
        display:flex;
        background-color: #540D6E;

        .dateblock5{
            width:80px;
            height:119px;
            margin-right: 5px;
            margin-bottom: 59px;

            .date5{
                width:60px;
                height:60px;
                background-color: #EE4367;
                color:white;
                text-align:center;
                padding-top: 8px;

                .line9{
                    font-size:22px;
                }
                .line10{
                    font-size:12px;  
                }
            }
        }
        .text5{
            font-size:15px;
            color: #FFF;
            width: 158px;
            height:180px;
            .blurb9{
                color: #FFF;
                font-size:15px;
            }
            .blurb10{
                font-size: 13px;
                color:#EE4367;
            } 
        }
    }   
}