.homequote{
    width:1280px;
    height:300px;
    display:block;
    color:#FFD140;
    font-size:15px;
    font-family: GillSans;

    .name {
        color: #EE4367;
        font-family: PT Serif;
        font-size:15px;
    }
    .position{
        font-size:10px;
    }
}
.upcomingevents {
    background-color: #540D6E;
    font-family:GillSans;
    width:1200px;
    display:block;

    .upcomingheadline{
        font-size:25px;
        border-bottom: 3px solid white;
        width:1280px;
    }
    .upcomingevents1{
        width:1200px;
        display:flex;
        flex-direction: row;

        .dateblock1{
            display:block;
            width:80px;
            height:119px;
            margin-right: 20px;
            margin-bottom: 59px;

            .date1{
            width:60px;
            height:60px;
            background-color: #EE4367;
            color:white;

                .line1{
                    font-size:22px;
                }
                .line1{
                    font-size:12px;  
                }
            }

        }
        .text1{
            font-size:15px;
            color: #FFF;
            width: 140px;
            height:41px;
        }
        .text2 {
            font-size: 13px;
            color:#EE4367;
            width: 140px;
            height: 78px;
        }
    }
    .upcomingevents2{
        width:1200px;
        display:flex;
        flex-direction: row;

        .dateblock2{
            display:block;
            width:80px;
            height:119px;
            margin-right: 20px;
            margin-bottom: 59px;

            .date1{
            width:60px;
            height:60px;
            background-color: #EE4367;
            color:white;

                .line1{
                    font-size:22px;
                }
                .line1{
                    font-size:12px;  
                }
            }

        }
        .text1{
            font-size:15px;
            color: #FFF;
            width: 140px;
            height:41px;
        }
        .text2 {
            font-size: 13px;
            color:#EE4367;
            width: 140px;
            height: 78px;
        }
    }
    .upcomingevents3{
        width:1200px;
        display:flex;
        flex-direction: row;

        .dateblock3{
            display:block;
            width:80px;
            height:119px;
            margin-right: 20px;
            margin-bottom: 59px;

            .date1{
            width:60px;
            height:60px;
            background-color: #EE4367;
            color:white;

                .line1{
                    font-size:22px;
                }
                .line1{
                    font-size:12px;  
                }
            }

        }
        .text1{
            font-size:15px;
            color: #FFF;
            width: 140px;
            height:41px;
        }
        .text2 {
            font-size: 13px;
            color:#EE4367;
            width: 140px;
            height: 78px;
        }
    }
    .upcomingevents4{
        width:1200px;
        display:flex;
        flex-direction: row;

        .dateblock4{
            display:block;
            width:80px;
            height:119px;
            margin-right: 20px;
            margin-bottom: 59px;

            .date1{
            width:60px;
            height:60px;
            background-color: #EE4367;
            color:white;

                .line1{
                    font-size:22px;
                }
                .line1{
                    font-size:12px;  
                }
            }

        }
        .text1{
            font-size:15px;
            color: #FFF;
            width: 140px;
            height:41px;
        }
        .text2 {
            font-size: 13px;
            color:#EE4367;
            width: 140px;
            height: 78px;
        }
    }
    .upcomingevents5{
        width:1200px;
        display:flex;
        flex-direction: row;

        .dateblock5{
            display:block;
            width:80px;
            height:119px;
            margin-right: 20px;
            margin-bottom: 59px;

            .date1{
            width:60px;
            height:60px;
            background-color: #EE4367;
            color:white;

                .line1{
                    font-size:22px;
                }
                .line1{
                    font-size:12px;  
                }
            }

        }
        .text1{
            font-size:15px;
            color: #FFF;
            width: 140px;
            height:41px;
        }
        .text2 {
            font-size: 13px;
            color:#EE4367;
            width: 140px;
            height: 78px;
        }
    }

}